<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl">User Management</a>
        </div>
        <div class="flex-none">
            <button class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="inline-block h-5 w-5 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
                    </path>
                </svg>
            </button>
        </div>
    </div>
    <div class="flex justify-center items-center justify-around">
        <form action="{{ url_for('new_users')}}" method="get">
            <button class="btn btn-outline">Add Users</button>
        </form>
        <form action="{{ url_for('users')}}" method="post">
            <button class="btn btn-outline btn-primary">Go to Users</button>
        </form>
    </div>
    <div class="flex justify-center items-center">
        <form action="{{ url_for('home')}}" method="post">
            <button class="btn btn-outline btn-primary mt-5">Back to Home</button>
        </form>
    </div>
</body>
</html>